:root{
  --color-background:rgba(240,240,240,1);
  
  --bkg-card:222,222,222;
  
  --bkg-ball:rgba(222,222,222,1);
  --white-ball:rgba(255,255,255,0.5);
  --red-ball:rgba(255,200,200,0.6);
  --blue-ball:rgba(123,178,230,0.2);
  --yellow-ball:rgba(255,255,170,0.5);
  --black-ball:rgba(20,20,20,0.2);
  --pink-ball:rgba(254, 201, 226,0.6);
  --purple-ball:rgba(176, 164, 222,0.4);
  
  --font-mono:"Reddit Mono", monospace;
  --font-sans:"Reddit Sans", sans-serif;
  --font-condensed:"Reddit Sans Condensed", sans-serif;
}

body {
  font-family: var(--font-mono);
  margin:auto;
  background-color:var(--color-background);
}

#root {
  margin:auto;
  display:grid;
  grid-template-columns: auto 5fr;
  color: rgba(0,0,0,0.7);
}

#filters {
  grid-area:1/1;
  position:sticky;
  top:0;
  z-index:99;
}

#searchResult {
  grid-area: 2/1;
  display:block;
  margin:5px;
}

#pokedexList {
  grid-area:3/1;
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  gap: 10px;
}

/*
---------
COLLAPSE
----------
*/

.collapsible {
  font-family: var(--font-condensed);  
  font-variant-caps: small-caps;
  font-size: 25px;
  font-weight:600;
  background-color: rgba(222,222,222,1);
  cursor: pointer;
  padding: 5px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border-bottom: solid 2px rgba(0,0,0,0.4);
}

.collapsible:before {
  font-family: var(--font-family);
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  line-height:35px;
  color: rgba(0,0,0,0.7);
  float: left;
  margin-right: 15px;
}

.active:before {
  font-family: var(--font-family);
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*
---------
CARD
----------
*/

.card {
  display: grid;
  grid-template-columns: 75px 2fr 100px;
  grid-template-rows: 50px 25px 30px 70px ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #DEDEDE;
  padding:5px;
  width:420px;
  }
  
  .nameFr { 
    grid-area: 1 / 2 / 2 / 3; 
    font-variant-caps: small-caps;
    align-self:end;
    color: rgba(31, 31, 31, 0.8);
    font-weight:600;
    font-size:30px;
    line-height: 25px;}

  .nameEn { 
    grid-area: 2 / 2 / 3 / 3; 
    font-variant-caps: small-caps;
    align-self:start;
    margin-left:10px;
    color: rgba(31, 31, 31, 0.7);
    font-size:18px;}

  .num { 
    grid-area: 1 / 3 / 3 / 4; 
    justify-self: end;
    font-weight:800;
    font-size:50px;
    color: rgba(255, 255, 255, 0.6);
    margin-right:10%;}

  .minisprite { 
    grid-area: 1 / 1 / 3 / 2; 
    }
  .sprite { 
    grid-area: 3 / 3 / 5 / 4; }

  .types { 
    grid-area: 3 / 1 / 4 / 3; 
    display : flex;
    flex-flow:row;
    align-items: center;
    column-gap: 5px;
    margin:0px 5px;}
    
  .types img {
    width: 100px;
  }
    
  .galleryControl { 
    grid-area: 4 / 1 / 5 / 3; 
    background-color: forestgreen;}
