:root {
  --color-background: rgba(240, 240, 240, 1);

  --bkg-card: 222, 222, 222;

  --bkg-ball: rgba(222, 222, 222, 1);
  --white-ball: rgba(255, 255, 255, 0.5);
  --red-ball: rgba(255, 200, 200, 0.6);
  --blue-ball: rgba(123, 178, 230, 0.2);
  --yellow-ball: rgba(255, 255, 170, 0.5);
  --black-ball: rgba(20, 20, 20, 0.2);
  --pink-ball: rgba(254, 201, 226, 0.6);
  --purple-ball: rgba(176, 164, 222, 0.4);

  --font-mono: "Reddit Mono", monospace;
  --font-sans: "Reddit Sans", sans-serif;
  --font-condensed: "Reddit Sans Condensed", sans-serif;
}

body {
  font-family: var(--font-mono);
  margin: auto;
  background-color: var(--color-background);
}

#root {
  margin: auto;
  display: grid;
  grid-template-columns: auto 5fr;
  color: rgba(0, 0, 0, 0.7);
}

#filters {
  grid-area: 1/1;
  position: sticky;
  top: 0;
  z-index: 99;
}

#searchResult {
  grid-area: 2/1;
  display: block;
  margin: 5px;
}

#pokedexList {
  grid-area: 3/1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

/*
---------
COLLAPSE
----------
*/

.list-group-item {
  .card-title {
    font-family: var(--font-condensed);
    font-variant-caps: small-caps;
    font-size: 25px;
    font-weight: 600;

    background-color: rgba(222, 222, 222, 1);
    border-bottom: solid 2px rgba(0,0,0,0.4);

    padding: 5px 18px;

    cursor: pointer;
  }

  .card-collapse {
    overflow: hidden;
    transition: height 0.5s  ;
  }
}

.list-group-item.is-expanded{
  .card-title::before{
    font-family: var(--font-family);
    content: "\02796"; /* Unicode character for "minus" sign (-) */
    font-size: 10px;
    line-height:35px;
    color: rgba(0,0,0,0.7);
    float: left;
    margin-right: 15px;
  }
}

.list-group-item:not(.is-expanded){
  .card-title::before{
    font-family: var(--font-family);
    content: '\02795'; /* Unicode character for "plus" sign (+)*/
    font-size: 10px;
    line-height:35px;
    color: rgba(0,0,0,0.7);
    float: left;
    margin-right: 15px;
  }
}